body {
  background: #ffaaaa;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #8f1537;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #8f1537;
  text-align: center;
}

h2 {
  color: #8f1537;
}

h3 {
  color: #c7004c;
}

form {
  display: flex;
}

.form-container {
  padding: 15px 20px;
  background-color: white;
  border-radius: 10px;

  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
}

.prompt {
  padding: 16px;
  border: 1px solid #8f1537;
  width: 80%;
  border-radius: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #8f1537;
}
.button {
  color: white;
  background-color: #8f1537;
  margin-left: 10px;
  padding: 14px 24px;
  border: none;
  border-radius: 50px;
  width: 150px;
  font-size: 16px;
}
.recipe {
  font-size: 14px;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid #8f1537;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

strong {
  color: #8f1537;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
